.sidebar-wrapper{
    z-index: 2;
    background-color: var(--secondary-01);
    color:var(--white-color);
    font-family: "Montserrat";
    position: fixed;
    width: 100vw;
    height: 42rem;
    padding-top: 2rem;
    
    
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

   }

.sidebar-list-title{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--white-color);
    font-size: 0.7rem;
}

.sidebar-list-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sidebar-list-item {
 color: var(--primary-01);
 text-decoration: none;
 
}

